<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 FireGento e.V. - All rights reserved.
 * See LICENSE.md bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="delete_product_all" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\DeleteAll</item>
                <item name="delete_product_selection" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\DeleteSelection</item>
                <item name="delete_customers_all" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Customer\DeleteAll</item>

                <item name="import_configurable" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\ImportConfigurable</item>
                <item name="import_simple" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\ImportSimple</item>
                <item name="import_bundle" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\ImportBundle</item>
                <item name="import_multiselect" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\ImportMultiselect</item>
                <item name="import_csv" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\ImportCsv</item>

                <item name="import_customer" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Customer\ImportCustomer</item>
                <item name="import_category" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Category\ImportCategory</item>


                <item name="import_category_multi" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Category\ImportCategoryMultiStoreView</item>


                <item name="export_products" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Product\ExportProducts</item>
                <item name="export_orders" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Orders\ExportOrders</item>
                <item name="export_customers" xsi:type="object">FireGento\FastSimpleImportDemo\Console\Command\Customer\ExportCustomer</item>


            </argument>
        </arguments>
    </type>

</config>
